# Exclude these files from the git repo
wp-content/backup/*
wp-content/cache/*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/plugins/wordfence/*
wp-content/plugins/wp-migrate-db/*
**/.sass-cache
**/.sass-cache/*
**.css.map
settings.js
sitemap.*
wp-config.php
.cache
.cache/*

# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes
.htaccess

node_modules/

wp-content/plugins/hello.php
wp-content/plugins/akismet/

wp-content/*

!wp-content/themes/
!wp-content/plugins/consignment-tables/*
!wp-content/plugins/consignment-tables
!wp-content/mu-plugins/
!wp-content/mu-plugins/*

# Include these files in previously blocked directories
!wp-content/uploads/.htaccess
